In [7]:
import pandas as pd
import yfinance as yfin

import datetime as dt

## Define ticker and dates

In [5]:
start = dt.date(2017,12,31)
end = dt.date(2022,12,31)

tickers = ["MSFT"]

## Import data

In [8]:

df = pd.DataFrame(pdr.get_data_yahoo(tickers, start, end)["Adj Close"])

[*********************100%***********************]  1 of 1 completed

## Set the date format of index

In [10]:
df.index = pd.DatetimeIndex(df.index).to_period('b')

In [11]:
df

             Adj Close
Date
2018-01-02   80.229012
2018-01-03   80.602379
2018-01-04   81.311821
2018-01-05   82.319908
2018-01-08   82.403931
...                ...
2022-12-23  236.631790
2022-12-27  234.877365
2022-12-28  232.468735
2022-12-29  238.891754
2022-12-30  237.712234

[1259 rows x 1 columns]