In [1]:
import fredapi as fa
import pandas as pd
import datetime as dt

In [5]:
pd.options.display.max_rows = 20

## Set the api key

In [2]:
f = open('C:/Users/camil/OneDrive/Documentos/Python/FRED api key .txt', 'r')
fred = fa.Fred(f.read())

## Set the dates and the variable code

In [3]:
start = pd.to_datetime("2020-01-01")
end = pd.to_datetime("2023-08-01")
var_code = "FEDFUNDS"

## Import the data

In [6]:
df = pd.DataFrame(fred.get_series(var_code), columns = ["rate"])

df = df.loc[start:end]
df

            rate
2020-01-01  1.55
2020-02-01  1.58
2020-03-01  0.65
2020-04-01  0.05
2020-05-01  0.05
...          ...
2023-04-01  4.83
2023-05-01  5.06
2023-06-01  5.08
2023-07-01  5.12
2023-08-01  5.33

[44 rows x 1 columns]